In [91]:
import psycopg2
import config
import pandas as pd
from sqlalchemy import create_engine

hostname = 'localhost'
database='Test'
username= 'postgres'
pwd='2208'
port_id='5432'

In [46]:
artist_data= pd.read_csv('../data/artist_details.csv')
tracks_data = pd.read_csv('../data/truncated_tracks.csv')

In [87]:
artist_data_df = pd.DataFrame(artist_data)
tracks_data_df= pd.DataFrame(tracks_data)

In [88]:
#artist_data_df.loc[:1]
artist_data_df=artist_data_df.iloc[:,1:]
artist_data_df.head()

,artist_names,track_id,genre,popularity
0,['Bob Dylan'],3AhXZa8sUQht0UEdBJgpGc,"[['album rock', 'classic rock', 'country rock'...",[71]
1,['Nirvana'],5ghIJDpPoe3CfHMGu71E6T,"[['alternative rock', 'grunge', 'permanent wav...",[81]
2,['The Beatles'],0hKRSZhUGEhKU6aNSPBACZ,"[['beatlesque', 'british invasion', 'classic r...",[83]
3,['The Beach Boys'],5Qt4Cc66g24QWwGP3YYV9y,"[['baroque pop', 'brill building pop', 'classi...",[72]
4,['Chuck Berry'],2QfiRTz5Yc8DdShCxG1tB2,"[['blues rock', 'classic rock', 'rock', 'rock-...",[65]

In [89]:
cols_to_check =['artist_names','track_id','genre','popularity']
artist_data_df[cols_to_check] = artist_data_df[cols_to_check].replace({"]":""}, regex=True)
artist_data_df[cols_to_check] = artist_data_df[cols_to_check].replace({"'":""}, regex=True)
artist_data_df['artist_names'] = artist_data_df['artist_names'].str.replace('[','',regex=True)
artist_data_df['genre'] = artist_data_df['genre'].str.replace('[','', regex=True)
artist_data_df['popularity'] = artist_data_df['popularity'].str.replace('[','', regex=True)
artist_data_df.head()

,artist_names,track_id,genre,popularity
0,Bob Dylan,3AhXZa8sUQht0UEdBJgpGc,"album rock, classic rock, country rock, folk, ...",71
1,Nirvana,5ghIJDpPoe3CfHMGu71E6T,"alternative rock, grunge, permanent wave, rock",81
2,The Beatles,0hKRSZhUGEhKU6aNSPBACZ,"beatlesque, british invasion, classic rock, me...",83
3,The Beach Boys,5Qt4Cc66g24QWwGP3YYV9y,"baroque pop, brill building pop, classic rock,...",72
4,Chuck Berry,2QfiRTz5Yc8DdShCxG1tB2,"blues rock, classic rock, rock, rock-and-roll,...",65

In [90]:
tracks_data_df=tracks_data_df.loc[:,['artist_id','id','album_id','album_name','album_type','album_released_date','track_popularity']]
tracks_data_df['artist_id'] = tracks_data_df['artist_id'].str.replace('[','', regex=True)
tracks_data_df['artist_id'] = tracks_data_df['artist_id'].str.replace(']','', regex=True)
tracks_data_df['artist_id'] = tracks_data_df['artist_id'].str.replace("'","", regex=True)
tracks_data_df

,artist_id,id,album_id,album_name,album_type,album_released_date,track_popularity
0,74ASZWbe4lXaubB36ztrGX,3AhXZa8sUQht0UEdBJgpGc,6YabPKtZAjxwyWbuO9p4ZD,Highway 61 Revisited,album,1965-08-30,71
1,6olE6TJLqED3rqDCT0FyPh,5ghIJDpPoe3CfHMGu71E6T,2guirTSEqLizK7j9i1MTTZ,Nevermind (Remastered),album,1991-09-26,80
2,3WrFJ7ztbogyGnTHbHJFl2,0hKRSZhUGEhKU6aNSPBACZ,6QaVfG1pHYl1z15ZxkvVDW,Sgt. Pepper's Lonely Hearts Club Band (Remaste...,album,1967-06-01,66
3,3oDbviiivRWhXwIE8hxkVV,5Qt4Cc66g24QWwGP3YYV9y,3yGRRfowVUIj29zEwgLYY7,Smiley Smile (Mono & Stereo),album,1967-09-18,22
4,293zczrfYafIItmnmM3coR,2QfiRTz5Yc8DdShCxG1tB2,6eedtCtCjibu80yOhylSGL,Berry Is On Top,album,1959-07-01,76
...,...,...,...,...,...,...,...
9942,2vwI9jlKSgJbne3dlTzaLO,2QSD3K3b3BJ8DPhGhQfDPW,0uk9Hua2gX6jPT0O4jxjvC,Scared To Dance,album,1979-01-01,46
9943,7xTKLpo7UCzXSnlH7fOIoM,67mtN6BlsJR0LVyzvNZnGt,3FsCGJY0JqSxvgezoMWYzF,Whut? Thee Album,album,1992-01-01,64
9944,6nB0iY1cjSY1KyhYyuIIKH,1KcxkWlRSDNchLovHnHBKP,2RUX2ps4xMNTyI2iAwVyf3,M3LL155X,album,2015-08-14,41
9945,3LrsctPHK5wMdvEqvFN8BW,3h66NhIvR5cgi2xJlUUmgd,2Kwk8gZZk0cRjCuYaQ80jT,Happy Head,album,1986-10-27,13
9946,1SQRv42e4PjEYfPhS0Tk9E,0cTwMCvozZBj8jCq6o27nk,7aKN7yS7Z9mDtPioRPmcqX,State of Confusion,album,1983-05-24,53

In [98]:
conn_string = 'postgresql://postgres:2208@localhost/Test'
  
db = create_engine(conn_string)
conn = db.connect()

artist_data_df.to_sql('artist', con=conn, if_exists='replace',
          index=False)
tracks_data_df.to_sql('track_details', con=conn, if_exists='replace',
          index=False)          
conn = psycopg2.connect(conn_string
                        )
conn.autocommit = True
cursor = conn.cursor()
  
conn.close()

In [2]:
create_script = ('''CREATE TABLE A (
            
        )
        ''',
        ''' CREATE TABLE B (
                
                )
        ''',
        '''
        CREATE TABLE C (
                
        )
        ''')

 # These scripts can be changed to insert a DataFrame directly into Table
 # For testing purpose used basic statements. Everything works fine

In [4]:
insert_script= 'INSERT INTO TABLE A (col1,col2,col3) values (%s,%s,%s)'
insert_values= [('a','b',1),('c','d',2)]

In [5]:


conn =None
cur = None    

try:
    conn = psycopg2.connect(
        host=hostname,
        dbname= database,
        user=username,
        password=pwd,
        port=port_id
    )

    cur= conn.cursor()
    for create in create_script:
        print(create)  
      
    conn.commit()
    cur.execute(insert_script,insert_values)
    
except Exception as error:
    print(error)  
finally:
    if conn is not None:
        conn.close()
    if cur is not None:
        cur.close()

CREATE TABLE A (

        )

 CREATE TABLE B (

                )


        CREATE TABLE C (

        )

list index out of range